body {
	font-family: "poppins", Helvetica, sans-serif;
}

.navbar {
    justify-content: space-between;
  }

#portfolio {
	height: 100vh;
	background: url(images/Header\ bg@2x.svg) no-repeat;
	background-position: 100% 100%;
}

.card-works {
	width: 80%;
}

.works-image,
.works-text {
	width: 50%;
}

.languages li {
	color: #6070ff;
  padding: 4px 12px;
  background-color: #ebebff;
	border-radius: 8px;
}

.button {
  font-size: 17px;
  color: #396df2;
  font-weight: 600;
  border: 1px solid #6070ff;
  padding: 12px;
  border-radius: 8px;
  width: 124px;
}

.button:hover {
  box-shadow: 0 8px rgba(64, 83, 252, 0.24);
  background-color: #6070ff;
  color: #fff;
}

.button:disabled {
  border: 1px solid #c1c7d0;
  cursor: not-allowed;
  color: #5e6c84;
}

.button:active {
  background: #2230d2;
  color: #fff;
}

.aboutme-text {
  width: 50%;
}

ul ul {
  list-style-type: none;
}